/gpt2_math/data/
/gpt2_math/__pycache__/
*/__pycache__/*
/gpt2_math/wandb/
output/*
*/lightning_logs/*
*/wandb/*
*/.ipynb_checkpoints/*
/data/*
*.pyc
*.ckpt
/experiments/analyse_residual_copy.ipynb
/utils/trans_sk.json